body {
    background-color: #b6bdb6;
}
header {
    width: 100%;
    background-color: #688daa;
}
header h1 {
    text-align: center;
    color: #000000
}
main h1{
    
    text-align: center;
    color: black;
    
}

nav li{
    text-align: center;
    color: #3f3f40;
    font-size: larger;
    
}
.icones{
    background-color: black;
    flex-direction: column;
    
    
}
.icone{
    margin-top: 200px;
    width: 100px;
    flex-direction: column-reverse;
}
.informações{
    /* margin-top: 30px; */
    /* text-align: center; */
   
}

.perfil{
    margin-bottom: 100px;
    width: 300px;
    position: absolute;
    left: 00% ;
    top:00% ;
}