body {
    background-color: #b6bdb6;
}
header {
    width: 100%;
    background-color: #688daa;
}
header h1 {
    text-align: center;
    color: #000000
}
main h1{
    
    text-align: center;
    color: black;
    
}

nav li{
    color: #3f3f40;
    font-size: large;
    
}

fotocurriculo  {
    width: ;
    
    
}

#perfil{
    position: absolute;
    left: 00% ;
    top:00% ;
}